{
	"prefixes": [
		{
			"prefix": "2001:db8:1234:5600::/56",
			"recordFormat": "lon-{addr}.rdns.isp.example",
			"static": [
				{
					"address": "2001:db8:1234:5600::1",
					"record": "lon-router01.isp.example"
				}
			]
		},
		{
			"prefix": "2001:db8:1234:5900::/56",
			"recordFormat": "cam-{addr}.rdns.isp.example",
			"static": []
		}
	],
	"thisNS": [
		"rdns-ns1.isp.example",
		"rdns-ns2.isp.example"
	],
	"maxCache": 10000,
	"ttl": 900,
	"listenOn": "198.51.100.53",
	"listenOnV6": "2001:db8:5300::53",
	"listenPort": 53,
	"debug": false,
	"logErrors": false
}